/*=== start default style */
*,
*::before,
*::after {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

button {
  cursor: pointer;
  display: block;
  background: none; }

a, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

dl, ol, ul {
  margin: 0;
  list-style: none; }

form {
  overflow: hidden; }

span {
  vertical-align: middle; }

figure {
  position: relative;
  height: 100%; }

.container-fluid {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

.container {
  width: 90%;
  margin: 0 auto; }

.content {
  background-color: #fff; }

.bg-main {
  background-color: #00BCD4; }

/*=== end default style */
html, body {
  font-family: 'Raleway', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.h-style {
  font-family: 'Amaranth', sans-serif;
  font-weight: bold; }

html, body {
  font-size: 16px;
  min-height: 100%;
  text-align: left; }

p {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6,
.h-style {
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
  text-transform: capitalize;
  vertical-align: middle; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-weight: normal;
  font-size: 1rem; }

.underline {
  text-decoration: underline; }

.nowrap {
  white-space: nowrap; }

/*===== end font style ===== */
.content {
  position: relative;
  min-height: 800px;
  height: 800px;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  .content .col-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    z-index: 999; }
  .content .toggle {
    width: 15%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15%;
            flex: 1 0 15%;
    color: #fff;
    background-color: #313131;
    padding: 10px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  .content .list {
    padding: 10px 0;
    width: 85%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 85%;
            flex: 1 0 85%;
    background-color: #00BCD4; }
  .content .list-title {
    color: #fff;
    padding: 10px 0;
    text-align: center; }
  .content.hidden-room .rooms {
    left: -17%; }
  .content.hidden-room .messages {
    margin-left: 3%; }
  .content.hidden-members .members {
    right: -17%; }
  .content.hidden-members .messages {
    margin-right: 3%; }

.rooms {
  left: 0;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  will-change: position, left;
  overflow: auto; }
  .rooms .toggle {
    -webkit-box-shadow: -3px 0px 3px 3px rgba(255, 255, 255, 0.5);
            box-shadow: -3px 0px 3px 3px rgba(255, 255, 255, 0.5); }
  .rooms li {
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out; }
    .rooms li.active {
      background-color: #0f0; }
      .rooms li.active .btn {
        color: #313131; }

.members {
  right: 0;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  will-change: position, right;
  overflow: auto; }
  .members .toggle {
    -webkit-box-shadow: 3px 0px 3px 3px rgba(255, 255, 255, 0.5);
            box-shadow: 3px 0px 3px 3px rgba(255, 255, 255, 0.5); }
  .members .member {
    text-align: center;
    color: #fff;
    padding: 10px 0; }
  .members .state {
    width: 10px;
    height: 10px;
    background-color: #313131;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px; }
    .members .state.online {
      background-color: #00f941; }

.messages {
  display: block;
  margin: 0 20%;
  -webkit-transition: margin 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
  will-change: margin;
  overflow: hidden;
  height: 100%; }
  .messages .messages-list {
    padding: 0 15px;
    overflow: auto;
    height: 90%; }
  .messages .message {
    margin: 10px 0;
    text-align: left; }
  .messages .message-data {
    padding: 10px;
    background-color: #00BCD4;
    color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    position: relative; }
    .messages .message-data:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 10px;
      z-index: 1;
      border: 10px solid #00BCD4;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: 0; }
  .messages .message-box {
    padding: 10px 0;
    background-color: #313131;
    height: 10%; }
    .messages .message-box .container {
      height: 100%; }

/*======================
====== start forms style =======
======================*/
#messageBox {
  height: 100%; }
  #messageBox .message-input {
    display: inline-block;
    width: 84%;
    height: 100%;
    position: relative;
    color: #fff;
    text-transform: capitalize; }
  #messageBox .send-message {
    display: inline-block;
    width: 15%;
    height: 100%; }
  #messageBox .label-text {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1; }
  #messageBox input {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 99; }
  #messageBox input[type='text'] {
    background-color: transparent;
    color: #fff; }
    #messageBox input[type='text']:valid + label {
      display: none; }
  #messageBox input[type='submit'] {
    background-color: #00BCD4;
    color: #fff;
    cursor: pointer; }

/*======================
====== end forms style =======
======================*/
/*======================
    ====== start buttons style =======
    ======================*/
.btn {
  padding: 10px 0;
  width: 100%;
  color: inherit;
  background: inherit;
  font-size: 18px;
  text-transform: capitalize;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }

.btn-white {
  color: #fff; }

.btn-toggle {
  width: 100%;
  height: 50px; }
  .btn-toggle:before, .btn-toggle:after {
    content: '';
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    will-change: transform; }
  .btn-toggle:before, .btn-toggle:after,
  .btn-toggle .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff; }
  .btn-toggle .line {
    margin: 5px 0;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
  .btn-toggle[aria-expanded='true']:before {
    -webkit-transform: rotate(45deg) translate(6px, 5px);
            transform: rotate(45deg) translate(6px, 5px); }
  .btn-toggle[aria-expanded='true']:after {
    -webkit-transform: rotate(-45deg) translate(6px, -5px);
            transform: rotate(-45deg) translate(6px, -5px); }
  .btn-toggle[aria-expanded='true'] .line {
    opacity: 0; }

/*======================
    ====== end buttons style =======
    ======================*/

/*# sourceMappingURL=maps/index.css.map */
