extends layout/html
block style
	link(href='css/index.css' rel="stylesheet")
block body
	div(class="content")
		include layout/rooms
		include layout/messages
		include layout/members
	script(src='js/index.js')