/*======================
    ====== start buttons style =======
    ======================*/
.btn
{
	padding: 10px 0;
	width: 100%;
    color: inherit;
    background: inherit;
    font-size: 18px;
    text-transform: capitalize;
    transition:color 0.2s ease-in-out;
}
.btn-white
{
	color: $white-color;
}
.btn-toggle
{
	width: 100%;
    height: 50px;
	&:before,
	&:after
	{
		content:'';
		transition: transform 0.5s ease-in-out;
		will-change: transform;
	}
	&:before,
	&:after,
	.line
	{
		display: block;
		width: 100%;
		height: 3px;
		background-color:$white-color;
	}
	.line
	{
		margin: 5px 0;
		opacity: 1;
		transition: opacity 0.5s ease-in-out;
	}
	&[aria-expanded='true']
	{
		&:before
		{
			transform: rotate(45deg) translate(6px, 5px);
		}
		&:after
		{
			transform: rotate(-45deg) translate(6px, -5px);
		}
		.line
		{
			opacity: 0;
		}
	}
}
/*======================
    ====== end buttons style =======
    ======================*/