body
{
    &.hidden-list
    {
        aside
        {
            left: -17%;
        }
        .content
        {
            margin-left: 3%;
        }
    }
    &.hidden-members
    {
        .members
        {
            right: -17%;
        }
        .content
        {
            margin-right: 3%;
        }
    }
}