div(class='message')
	h4(class='message-sander') ahmed
	div(class='message-data')
		p(class='message-text')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, distinctio vero, sint quia commodi aut!
		span(class='time') 11:20-1-10-2018
